@media screen and (max-width: 450px) {
  body {
    background-color: aquamarine;
  }
  body .hidden {
    display: none;
  }
  body * {
    margin: 0;
    border: 0;
    padding: 0;
  }
  body h1 {
    font-size: 30px;
    color: blueviolet;
  }
}
@media screen and (min-width: 450px) {
  body {
    background-color: black;
  }
  body .hidden {
    display: none;
  }
  body * {
    margin: 0;
    border: 0;
    padding: 0;
  }
  body h1 {
    color: red;
  }
}
@media screen and (min-width: 800px) {
  body {
    background-color: black;
    width: 1280px;
    text-align: center;
    margin: 0 auto;
  }
  body .hidden {
    display: none;
  }
  body * {
    margin: 0;
    border: 0;
    padding: 0;
  }
  body .button {
    background-color: #fff;
    border-radius: 15px;
    border: solid 1px #ffda00;
    color: black;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
  }
  body .button1 .button {
    background-color: #ffda00;
    border-radius: 0px;
    border: solid 1px #fff;
    color: black;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
  }
  body nav .socialMedia {
    float: right;
    position: relative;
    margin-top: -400px;
    padding-top: 0px;
    width: 1000px;
  }
  body nav img {
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 30px;
    margin-top: 0px;
  }
  body header h1 {
    color: #ffda00;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    font-size: 46px;
    margin-top: 180px;
    letter-spacing: 10px;
  }
  body header p {
    color: azure;
    font-size: 16px;
    width: 700px;
    margin: 0 auto;
    margin-top: 30px;
  }
  body header h2 {
    color: #ffda00;
    width: 1200px;
    margin-top: 80px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
  }
  body #infoDetails {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
  }
  body #infoDetails #yellowBar {
    width: 1280px;
    text-align: center;
    margin: 0 auto;
    background-color: #ffda00;
    height: 120px;
  }
  body #infoDetails #yellowBar p {
    font-size: 16px;
    color: black;
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
  }
  body #infoDetails #Pro {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    height: 500px;
    background-color: white;
  }
  body #infoDetails #Pro #product {
    width: 1280px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin-left: 0px;
    text-align: center;
    margin: 0 auto;
  }
  body #infoDetails #Pro #product img {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
  }
  body #infoDetails #Pro #product p {
    color: black;
  }
  body #videoPart {
    width: 1280px;
    height: 520px;
  }
  body #showPic {
    width: 1280px;
    height: 800px;
    margin: 0 auto;
    text-align: center;
  }
  body #showPic #whiteBar {
    width: 1280px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
  }
  body #showPic #whiteBar h3 {
    font-size: 30px;
    color: #ffda00;
    text-align: center;
    padding-top: 30px;
  }
  body #showPic #whiteBar p {
    font-size: 18px;
    color: black;
    text-align: center;
  }
  body #showPic #introPic {
    width: 1280px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  body #showPic #introPic #picText {
    width: 500px;
    height: 200px;
    background-color: #ffda00;
  }
  body #showPic #introPic img {
    height: 200px;
    width: auto;
  }
  body #showPic #pic2 {
    width: 1280px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  body #showPic #pic2 img {
    height: 300px;
    width: auto;
  }
  body #whiteBar2 {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    height: 160px;
    background-color: #fff;
  }
  body #coop {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    height: 500px;
  }
  body #coop h3 {
    color: #ffda00;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
  }
  body #coop p {
    color: white;
    text-align: center;
    margin-top: 30px;
  }
  body #coop #coopIcon {
    display: flex;
    justify-content: space-around;
    width: 800px;
    text-align: center;
    margin: 0 auto;
  }
  body #coop #coopIcon img {
    height: 50px;
    width: auto;
  }
  body #Contact {
    width: 1280px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
  }
  body #Contact h2 {
    margin-left: 10px;
    color: #ffda00;
    margin-top: 60px;
  }
  body #conWay {
    width: 1280px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    display: flex;
    justify-content: space-around;
    background-color: #ffda00;
  }
  body #conWay img {
    width: 60px;
    height: auto;
  }
  body footer {
    width: 1280px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
  }
  body footer p {
    width: 1280px;
    height: 50px;
    color: #ffda00;
  }
  body footer #SC {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  body footer #SC img {
    margin-left: 20px;
    width: 50px;
    height: auto;
  }
}

/*# sourceMappingURL=output.css.map */
