@media screen and (max-width: 450px) {
  body {
    background-color: #ffffff;
    width: 450px;
    text-align: center;
    margin: 0 auto;
  }
  body .hidden {
    display: none;
  }
  body * {
    margin: 0;
    border: 0;
    padding: 0;
  }
  body .button {
    background-color: #fff;
    border-radius: 15px;
    border: solid 1px #ffda00;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }
  body .button1 {
    background-color: #ffd;
    border-radius: 0px;
    border: solid 1px #fff;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }
  body header {
    background-color: #000;
    margin: 0 auto;
    text-align: center;
  }
  body header #socialMedia {
    float: right;
    position: relative;
    margin-top: 0px;
    padding-top: 0px;
    width: 300px;
  }
  body header img {
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 20px;
    margin-top: 0px;
  }
  body header h1 {
    color: #ffda00;
    text-align: center;
    width: 250px;
    margin: 0 auto;
    font-size: 26px;
    margin-top: 80px;
    letter-spacing: 2px;
  }
  body header p {
    color: azure;
    font-size: 13px;
    width: 430px;
    margin: 0 auto;
    margin-top: 30px;
  }
  body header h2 {
    color: #ffda00;
    width: 420px;
    margin-top: 80px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
  }
  body #infoDetails {
    width: 450px;
    margin: 0 auto;
    text-align: center;
    background-color: #000;
  }
  body #infoDetails #yellowBar {
    width: 450px;
    text-align: center;
    margin: 0 auto;
    background-color: #ffda00;
    height: 70px;
  }
  body #infoDetails #yellowBar p {
    font-size: 13px;
    color: whitesmoke;
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
  }
  body #infoDetails #Pro {
    width: 450px;
    margin: 0 auto;
    text-align: center;
    height: 700px;
    background-color: black;
  }
  body #infoDetails #Pro #product {
    width: 450px;
    height: 600px;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 250px;
    text-align: center;
    margin: 0 auto;
  }
  body #infoDetails #Pro #product img {
    width: 160px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
  }
  body #infoDetails #Pro #product p {
    color: white;
    text-align: center;
    margin: 0 auto;
  }
  body #infoDetails #Pro #product h3 {
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
  }
  body #infoDetails #Pro #product #pro1 img {
    margin-top: -500px;
    margin-left: 200px;
  }
  body #infoDetails #Pro #product #pro1 h3 {
    margin-top: 0px;
  }
  body #infoDetails #Pro #product #pro1 p {
    margin-top: 0px;
  }
  body #infoDetails #Pro #product #pro2 img {
    margin-left: 200px;
  }
  body #infoDetails #Pro #product #pro2 h3 {
    margin-left: 100px;
    margin-top: -40px;
  }
  body #infoDetails #Pro #product #pro2 p {
    margin-top: 0px;
    margin-left: -80px;
  }
  body #infoDetails #Pro #product #APP img {
    margin-left: 200px;
  }
  body #infoDetails #Pro #product #APP h3 {
    margin-left: 120px;
    margin-top: -50px;
  }
  body #infoDetails #Pro #product #APP p {
    margin-left: -30px;
  }
  body #videoPart {
    width: 450px;
    height: 400px;
  }
  body #showPic {
    width: 450px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
  }
  body #showPic #whiteBar {
    width: 450px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    background-color: #000;
  }
  body #showPic #whiteBar h3 {
    font-size: 20px;
    color: #ffda00;
    text-align: center;
    padding-top: 30px;
  }
  body #showPic #whiteBar p {
    font-size: 13px;
    color: white;
    text-align: center;
  }
  body #showPic #introPic {
    width: 450px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  body #showPic #introPic #picText {
    width: 450px;
    height: 200px;
    background-color: #ffda00;
  }
  body #showPic #introPic img {
    width: 130px;
    height: auto;
  }
  body #showPic #pic2 {
    width: 450px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  body #showPic #pic2 img {
    height: 200px;
    width: auto;
  }
  body #whiteBar2 {
    width: 450px;
    margin: 20 20 0 0;
    text-align: center;
    height: 80px;
    background-color: #000;
  }
  body #coop {
    width: 450px;
    margin: 0 auto;
    text-align: center;
    height: 250px;
    background-color: blueviolet;
  }
  body #coop h3 {
    color: #ffda00;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    margin-top: 0px;
  }
  body #coop p {
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
  }
  body #coop #coopIcon {
    display: flex;
    justify-content: space-around;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
  }
  body #coop #coopIcon img {
    height: auto;
    width: 50px;
  }
  body #Contact {
    width: 450px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
  }
  body #Contact h2 {
    margin-left: 10px;
    color: #ffda00;
    margin-top: 60px;
    font-size: 20px;
  }
  body #conWay {
    width: 450px;
    text-align: center;
    margin: 0 auto;
    height: 120px;
    display: flex;
    justify-content: space-around;
    background-color: #ffda00;
  }
  body #conWay img {
    width: 60px;
    height: auto;
  }
  body footer {
    width: 450px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    background-color: #000;
  }
  body footer p {
    width: 450px;
    height: 50px;
    color: #ffda00;
    margin-top: 0px;
  }
  body footer #SC {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  body footer #SC img {
    margin-left: 80px;
    width: 50px;
    height: auto;
  }
}
@media screen and (min-width: 450px) {
  body {
    background-color: black;
  }
  body .hidden {
    display: none;
  }
  body * {
    margin: 0;
    border: 0;
    padding: 0;
  }
  body h1 {
    color: red;
  }
}
@media screen and (min-width: 800px) {
  body {
    background-color: black;
    width: 1280px;
    text-align: center;
    margin: 0 auto;
  }
  body .hidden {
    display: none;
  }
  body * {
    margin: 0;
    border: 0;
    padding: 0;
  }
  body .button {
    background-color: #fff;
    border-radius: 15px;
    border: solid 1px #ffda00;
    color: black;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
  }
  body .button1 .button {
    background-color: #ffda00;
    border-radius: 0px;
    border: solid 1px #fff;
    color: black;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
  }

  header #socialMedia {
    float: right;
    position: relative;
    margin-top: 0px;
    padding-top: 0px;
    width: 1000px;
  }
  header img {
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 30px;
    margin-top: 0px;
  }
  header h1 {
    color: #ffda00;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    font-size: 46px;
    margin-top: 180px;
    letter-spacing: 10px;
  }
  header p {
    color: azure;
    font-size: 16px;
    width: 700px;
    margin: 0 auto;
    margin-top: 30px;
  }
  header h2 {
    color: #ffda00;
    width: 1200px;
    margin-top: 80px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
  }

  #infoDetails {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
  }
  #infoDetails #yellowBar {
    width: 1280px;
    text-align: center;
    margin: 0 auto;
    background-color: #ffda00;
    height: 120px;
  }
  #infoDetails #yellowBar p {
    font-size: 16px;
    color: black;
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
  }
  #infoDetails #Pro {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    height: 500px;
    background-color: white;
  }
  #infoDetails #Pro #product {
    width: 1280px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin-left: 0px;
    text-align: center;
    margin: 0 auto;
  }
  #infoDetails #Pro #product img {
    width: 260px;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
  }
  #infoDetails #Pro #product p {
    color: black;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  #infoDetails #Pro #product #pro1 img {
    margin-left: 130px;
    margin-top: 80px;
  }
  #infoDetails #Pro #product #pro1 h3 {
    margin-top: -60px;
  }
  #infoDetails #Pro #product #pro1 p {
    margin-top: 0px;
  }
  #infoDetails #Pro #product #pro2 h3 {
    margin-left: -100px;
    margin-top: -60px;
  }
  #infoDetails #Pro #product #pro2 p {
    margin-top: 0px;
    margin-left: -80px;
  }
  #infoDetails #Pro #product #APP h3 {
    margin-left: -120px;
    margin-top: -70px;
  }
  #infoDetails #Pro #product #APP p {
    margin-left: -50px;
  }

  #videoPart {
    width: 1280px;
    height: 520px;
  }

  #showPic {
    width: 1280px;
    height: 800px;
    margin: 0 auto;
    text-align: center;
  }
  #showPic #whiteBar {
    width: 1280px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
  }
  #showPic #whiteBar h3 {
    font-size: 30px;
    color: #ffda00;
    text-align: center;
    padding-top: 30px;
  }
  #showPic #whiteBar p {
    font-size: 18px;
    color: black;
    text-align: center;
  }
  #showPic #introPic {
    width: 1280px;
    height: 800px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  #showPic #introPic #picText {
    width: 500px;
    height: 400px;
    background-color: #ffda00;
  }
  #showPic #introPic img {
    height: 400px;
    width: auto;
  }
  #showPic #pic2 {
    width: 1280px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  #showPic #pic2 img {
    height: 400px;
    width: auto;
  }

  #whiteBar2 {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    background-color: #fff;
    margin-top: -380px;
  }

  #coop {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    height: 300px;
    margin-top: 380px;
  }
  #coop h3 {
    color: #ffda00;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    margin-top: 80px;
  }
  #coop p {
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
  }
  #coop #coopIcon {
    display: flex;
    justify-content: space-around;
    width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
  }
  #coop #coopIcon img {
    height: 50px;
    width: auto;
  }

  #Contact {
    width: 1280px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
  }
  #Contact h2 {
    margin-left: 10px;
    color: #ffda00;
    margin-top: 60px;
  }

  #conWay {
    width: 1280px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    display: flex;
    justify-content: space-around;
    background-color: #ffda00;
  }
  #conWay img {
    width: 60px;
    height: auto;
  }

  footer {
    width: 1280px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
  }
  footer p {
    width: 1280px;
    height: 50px;
    color: #ffda00;
  }
  footer #SC {
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  footer #SC img {
    margin-left: 20px;
    width: 50px;
    height: auto;
  }
}

/*# sourceMappingURL=output.css.map */
