body {
  background-color: #ffffff;
  width: 450px;
  text-align: center;
  margin: 0 auto;
}
body .hidden {
  display: none;
}
body * {
  margin: 0;
  border: 0;
  padding: 0;
}
body .button {
  background-color: #fff;
  border-radius: 15px;
  border: solid 1px #ffda00;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
body .button1 {
  background-color: #ffd;
  border-radius: 0px;
  border: solid 1px #fff;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
body #logo {
  width: 450px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}
body #logo img {
  width: 130px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
body header {
  background-color: #000;
  margin: 0 auto;
  text-align: center;
}
body header #socialMedia {
  float: right;
  position: relative;
  margin-top: 0px;
  padding-top: 0px;
  width: 300px;
}
body header img {
  width: 60px;
  height: 60px;
  float: right;
  margin-left: 20px;
  margin-top: 0px;
}
body header h1 {
  color: #ffda00;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  font-size: 36px;
  margin-top: 80px;
  letter-spacing: 2px;
}
body header p {
  color: azure;
  font-size: 13px;
  width: 430px;
  margin: 0 auto;
  margin-top: 30px;
}
body header h2 {
  color: #ffda00;
  width: 420px;
  margin-top: 80px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
}
body #yellowBar {
  width: 450px;
  text-align: center;
  margin: 0 auto;
  background-color: #ffda00;
  height: 50px;
}
body #yellowBar p {
  font-size: 23px;
  color: whitesmoke;
  text-align: center;
  margin-top: 30px;
  padding-top: 40px;
  width: 450px;
}
body #Pro {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  width: 450px;
  height: 400px;
}
body #Pro img {
  width: 160px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}
body #Pro h3 {
  color: #ffda00;
}
body #Pro p {
  color: #ffffff;
}
body #ButtonPart {
  width: 450px;
  height: 80px;
  background-color: #000;
  text-align: center;
  margin: 0 auto;
}
body #videoPart {
  width: 450px;
  height: 400px;
  background-color: grey;
}
body #whiteBar {
  width: 450px;
  height: 120px;
  margin: 0 auto;
  text-align: center;
  background-color: #000;
}
body #whiteBar h3 {
  font-size: 18px;
  color: #ffda00;
  text-align: center;
  padding-top: 30px;
}
body #whiteBar p {
  font-size: 10px;
  color: white;
  text-align: center;
}
body .pic11 img {
  width: 130px;
  height: auto;
}
body .pic22 img {
  width: 112.5px;
  height: auto;
}
body #introPic {
  width: 450px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
body #introPic #picText {
  width: 200px;
  height: 300px;
  background-color: #ffda00;
}
body #introPic img {
  width: 250px;
  height: auto;
}
body #pic2 {
  width: 450px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
body #pic2 img {
  height: auto;
  width: 150px;
}
body #whiteBar2 {
  width: 450px;
  margin: 0 auto;
  text-align: center;
  height: 80px;
  background-color: #000;
}
body #coop {
  width: 450px;
  margin: 0 auto;
  text-align: center;
  height: 250px;
  background-color: black;
}
body #coop h3 {
  color: #ffda00;
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
  margin-top: 0px;
}
body #coop p {
  color: white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 80px;
}
body #coop #coopIcon {
  display: flex;
  justify-content: space-around;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
}
body #coop #coopIcon img {
  height: auto;
  width: 50px;
}
body #Contact {
  width: 450px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
}
body #Contact h2 {
  margin-left: 10px;
  color: #ffda00;
  margin-top: 60px;
  font-size: 20px;
}
body #conWay {
  width: 450px;
  text-align: center;
  margin: 0 auto;
  height: 120px;
  display: flex;
  justify-content: space-around;
  background-color: #ffda00;
}
body #conWay img {
  width: 60px;
  height: auto;
}
body footer {
  width: 450px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  background-color: #000;
}
body footer p {
  width: 450px;
  height: 50px;
  color: #ffda00;
  margin-top: 0px;
}
body footer #SC {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
}
body footer #SC img {
  margin-left: 80px;
  width: 50px;
  height: auto;
}

@media screen and (min-width: 450px) {
  body {
    background-color: #000;
    width: 800px;
    text-align: center;
    margin: 0 auto;
  }
  body .hidden {
    display: none;
  }
  body * {
    margin: 0;
    border: 0;
    padding: 0;
  }
  body .button {
    background-color: #fff;
    border-radius: 15px;
    border: solid 1px #ffda00;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }
  body .button1 {
    background-color: #ffd;
    border-radius: 0px;
    border: solid 1px #fff;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }
  body #logo {
    width: 800px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
  }
  body #logo img {
    width: 130px;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }
  body header {
    background-color: #000;
    margin: 0 auto;
    text-align: center;
  }
  body header #socialMedia {
    float: right;
    position: relative;
    margin-top: 0px;
    padding-top: 0px;
    width: 300px;
  }
  body header img {
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 20px;
    margin-top: 0px;
  }
  body header h1 {
    color: #ffda00;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    font-size: 30px;
    margin-top: 80px;
    letter-spacing: 2px;
  }
  body header p {
    color: azure;
    font-size: 23px;
    width: 630px;
    margin: 0 auto;
    margin-top: 30px;
  }
  body header h2 {
    color: #ffda00;
    width: 420px;
    margin-top: 80px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
  }
  body #yellowBar {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    margin-left: -180px;
    background-color: #ffda00;
    height: 70px;
  }
  body #yellowBar p {
    font-size: 13px;
    color: black;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 40px;
    width: 800px;
  }
  body #Pro {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    width: 800px;
    height: 800px;
  }
  body #Pro img {
    width: 260px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }
  body #Pro p {
    color: #000;
  }
  body #Pro h3 {
    color: #ffda00;
    margin-top: -50px;
  }
  body #ButtonPart {
    width: 800px;
    height: 120px;
    background-color: green;
    text-align: center;
    margin: 0 auto;
    margin-top: -120px;
  }
  body #videoPart {
    width: 800px;
    height: 600px;
    background-color: grey;
  }
  body #introPic {
    width: 800px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #ffda00;
    overflow: hidden;
  }
  body #introPic #picText {
    width: 300px;
    height: 200px;
  }
  body #introPic img {
    height: 200px;
    width: auto;
  }
  body #pic2 {
    width: 800px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  body #pic2 img {
    height: 200px;
    width: auto;
  }
  body #whiteBar {
    width: 800px;
    height: 80px;
    text-align: center;
    margin-top: 0 auto;
    background-color: #ffffff;
  }
  body #whiteBar2 {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    background-color: #fff;
    margin-top: 0px;
  }
  body #coop {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    height: 250px;
    background-color: black;
    margin-top: 20px;
  }
  body #coop h3 {
    color: #ffda00;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    margin-top: 30px;
  }
  body #coop p {
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
  }
  body #coop #coopIcon {
    display: flex;
    justify-content: space-around;
    width: 450px;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
  }
  body #coop #coopIcon img {
    height: auto;
    width: 40px;
  }
  body #Contact {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: #000;
  }
  body #Contact h2 {
    margin-left: 10px;
    color: #ffda00;
    margin-top: 60px;
    font-size: 20px;
  }
  body #conWay {
    width: 800px;
    text-align: center;
    margin: 0 auto;
    height: 120px;
    display: flex;
    justify-content: space-around;
    background-color: #ffda00;
  }
  body #conWay img {
    width: 160px;
    height: auto;
  }
  body footer {
    width: 800px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    background-color: #000;
  }
  body footer p {
    width: 800px;
    height: 50px;
    color: #ffda00;
    margin-top: 0px;
  }
  body footer #SC {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  body footer #SC img {
    margin-left: 80px;
    width: 50px;
    height: auto;
  }
}
@media screen and (min-width: 800px) {
  body {
    background-color: black;
    width: 1280px;
    text-align: center;
    margin: 0 auto;
  }
  body .hidden {
    display: none;
  }
  body * {
    margin: 0;
    border: 0;
    padding: 0;
  }
  body .button {
    background-color: #fff;
    border-radius: 15px;
    border: solid 1px #ffda00;
    color: black;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
  }
  body .button1 {
    background-color: #ffda00;
    border-radius: 0px;
    border: solid 1px #fff;
    color: black;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
  }
  body #logo {
    width: 300px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
  }
  body #logo img {
    width: 130px;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }
  body header #socialMedia {
    float: right;
    position: relative;
    margin-top: 0px;
    padding-top: 0px;
    width: 1000px;
  }
  body header img {
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 30px;
    margin-top: 0px;
  }
  body header h1 {
    color: #ffda00;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    font-size: 46px;
    margin-top: 180px;
    letter-spacing: 4px;
  }
  body header p {
    color: azure;
    font-size: 16px;
    width: 700px;
    margin: 0 auto;
    margin-top: 30px;
  }
  body header h2 {
    color: #ffda00;
    width: 1200px;
    margin-top: 80px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    letter-spacing: 4px;
  }
  body #yellowBar {
    width: 1280px;
    text-align: center;
    margin: 0 auto;
    background-color: #ffda00;
    height: 120px;
  }
  body #yellowBar p {
    font-size: 16px;
    color: black;
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
    width: 1280px;
  }
  body #pro1, body #pro2, body #pro3 {
    display: inline-block;
  }
  body #pro1 img, body #pro2 img, body #pro3 img {
    width: 260px;
  }
  body #Pro {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    width: 1280px;
    height: 300px;
  }
  body #Pro img {
    width: 260px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }
  body #ButtonPart {
    width: 1280px;
    height: 120px;
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
  }
  body #videoPart {
    width: 1280px;
    height: 520px;
  }
  body #whiteBar {
    width: 1280px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
  }
  body #whiteBar h3 {
    font-size: 20px;
    color: #ffda00;
    text-align: center;
    padding-top: 30px;
  }
  body #whiteBar p {
    font-size: 15px;
    color: black;
    text-align: center;
  }
  body .pic11 img {
    width: 300px;
    height: auto;
  }
  body .pic22 img {
    width: 320px;
    height: auto;
  }
  body #introPic {
    width: 1280px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #ffda00;
    overflow: hidden;
  }
  body #introPic #picText {
    width: 500px;
    height: 400px;
  }
  body #introPic img {
    height: auto;
    width: 300px;
  }
  body #pic2 {
    width: 1280px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  body #pic2 img {
    height: auto;
    width: 320px;
  }
  body #whiteBar2 {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    background-color: #fff;
    margin-top: 0px;
  }
  body #coop {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    height: 300px;
    margin-top: 80px;
    color: #000;
  }
  body #coop h3 {
    color: #ffda00;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    margin-top: 80px;
  }
  body #coop p {
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
  }
  body #coop #coopIcon {
    display: flex;
    justify-content: space-around;
    width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
  }
  body #coop #coopIcon img {
    height: 50px;
    width: auto;
  }
  body #Contact {
    width: 1280px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    margin-top: -50px;
  }
  body #Contact h2 {
    margin-left: 10px;
    color: #ffda00;
    margin-top: 60px;
  }
  body #conWay {
    width: 1280px;
    text-align: center;
    margin: 0 auto;
    height: 130px;
    display: flex;
    justify-content: space-around;
    background-color: #ffda00;
  }
  body #conWay img {
    width: 60px;
    height: auto;
  }
  body footer {
    width: 1280px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
  }
  body footer p {
    width: 1280px;
    height: 50px;
    color: #ffda00;
    margin-top: 20px;
  }
  body footer #SC {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  body footer #SC img {
    margin-left: 20px;
    width: 50px;
    height: auto;
  }
}

/*# sourceMappingURL=output.css.map */
